
body {
    color: #0000ff;
    font-family: courier;
  }
  
  p {
    color: red;
  }
p { 
    color: red; 
  }
  
  blockquote { 
    color: #0000ff; 
  }
  
  section { 
    background-color: rgb(162, 255, 218); 
  }

body {
    background-color: #f1f9cb;
    font-family: courier;
  }
  
  h1 {
    font-size: 12px;
    font-family: 'Yatra One', cursive;
  }
  
  h2 {
    font-size: 20px;
  }