
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fef4c4;
}

.container  {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    text-align: center;
}

header .location {
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
}

.weather-summary {
    text-align: center;
    margin-top: 30px;
}

.weather-summary .temperature {
    font-size: 3em;
    margin: 0;
}

.weather-summary .condition {
    font-size: 1.2em;
    margin: 10px 0;
}

.weather-summary .sub-info {
    font-size: 1em;
    color: #dc1616;
}

.weather-details {
    margin-top: 40px;
}

.weather-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.details-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.detail {
    background-color: #ffffff;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.detail .value {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5px;
}
